# Analyzing COVID-19 data



Code snippets to import/merge the data based on https://medium.com/@jcharistech/data-cleaning-a-practical-example-with-coronavirus-dataset-using-pandas-and-schedule-for-14abf485c881

Import data from https://raw.githubusercontent.com/CSSEGISandData

Read their terms of use! Last time I checked it, it is strictly for public use in academic or research purposes.

## Import data

In [2]:
import pandas as pd

confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"
recovered_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv"
death_cases_url ="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv"

raw_confirmed = pd.read_csv(confirmed_cases_url)
raw_recovered = pd.read_csv(recovered_cases_url)
raw_deaths = pd.read_csv(death_cases_url)

Let's have a look at a few entries of the raw data.

In [3]:
raw_confirmed[:8]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,47,48,50,50,50,53,59,70,75,82
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,360,420,461,502,511,581,639,639,701,773
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,117,130,138,150,150,160,178,178,200,212
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,50,83,93,99,117,129,149,149,197,238
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,13,21,21,27,32,32,39,46,64,64
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,22,26,28,38,48,55,65,65,92,112
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,10,10,11,11,15,18,21,21,36,49

## Adaptation

Adapt according to your needs.

## Convert data

Convert input data to a data structure which is better suited for our analysis (Note that lat/long values are dropped here).

In [20]:
def get_n_melt_data(raw_data,case_type):
    # Drop values 'Lat' and 'Long'
    raw_data.drop(['Lat', 'Long'], axis=1, inplace=True)
    melted_df = raw_data.melt(id_vars=['Province/State', 'Country/Region'])
    melted_df.rename(columns={"variable":"Date","value":case_type},inplace=True)
    return melted_df

melted_confirmed = get_n_melt_data(raw_confirmed,"Confirmed")
melted_recovered = get_n_melt_data(raw_recovered,"Recovered")
melted_deaths = get_n_melt_data(raw_deaths,"Deaths")

final_df = melted_confirmed.join(melted_recovered['Recovered']).join(melted_deaths['Deaths'])
final_df[0:10]

     Province/State Country/Region     Date  Confirmed  Recovered  Deaths
0               NaN       Thailand  1/22/20          2          0       0
1               NaN          Japan  1/22/20          2          0       0
2               NaN      Singapore  1/22/20          0          0       0
3               NaN          Nepal  1/22/20          0          0       0
4               NaN       Malaysia  1/22/20          0          0       0
5  British Columbia         Canada  1/22/20          0          0       0
6   New South Wales      Australia  1/22/20          0          0       0
7          Victoria      Australia  1/22/20          0          0       0
8        Queensland      Australia  1/22/20          0          0       0
9               NaN       Cambodia  1/22/20          0          0       0

Now we can access the numbers Confirmed/Recovered/Deaths via the key values of Province/State + Country/Region + Date.

In [17]:
final_df.keys

<bound method NDFrame.keys of               Province/State                    Country/Region      Lat  \
0                        NaN                          Thailand  15.0000
1                        NaN                             Japan  36.0000
2                        NaN                         Singapore   1.2833
3                        NaN                             Nepal  28.1667
4                        NaN                          Malaysia   2.5000
5           British Columbia                            Canada  49.2827
6            New South Wales                         Australia -33.8688
7                   Victoria                         Australia -37.8136
8                 Queensland                         Australia -28.0167
9                        NaN                          Cambodia  11.5500
10                       NaN                         Sri Lanka   7.0000
11                       NaN                           Germany  51.0000
12                       NaN                           Finland  64.0000
13                       NaN              United Arab Emirates  24.0000
14                       NaN                       Philippines  13.0000
15                       NaN                             India  21.0000
16                       NaN                             Italy  43.0000
17                       NaN                            Sweden  63.0000
18                       NaN                             Spain  40.0000
19           South Australia                         Australia -34.9285
20                       NaN                           Belgium  50.8333
21                       NaN                             Egypt  26.0000
22     From Diamond Princess                         Australia  35.4437
23                       NaN                           Lebanon  33.8547
24                       NaN                              Iraq  33.0000
25                       NaN                              Oman  21.0000
26                       NaN                       Afghanistan  33.0000
27                       NaN                           Bahrain  26.0275
28                       NaN                            Kuwait  29.5000
29                       NaN                           Algeria  28.0339
...                      ...                               ...      ...
23396           Saskatchewan                            Canada  52.9399
23397                    NaN                          Ethiopia   9.1450
23398                    NaN                             Sudan  12.8628
23399                    NaN                            Guinea   9.9456
23400                    NaN                             Aruba  12.5211
23401         Grand Princess                            Canada  37.6489
23402                    NaN                             Kenya  -0.0236
23403                    NaN               Antigua and Barbuda  17.0608
23404                Alabama                                US  32.3182
23405           Fench Guiana                            France   4.0000
23406                    NaN                           Uruguay -32.5228
23407                    NaN                             Ghana   7.9465
23408            Puerto Rico                                US  18.2208
23409                    NaN                            Jersey  49.1900
23410                    NaN                           Namibia -22.9576
23411                    NaN                        Seychelles  -4.6796
23412                    NaN               Trinidad and Tobago  10.6918
23413                    NaN                         Venezuela   6.4238
23414                    NaN                           Curacao  12.1696
23415                    NaN                          Eswatini -26.5225
23416                    NaN                             Gabon  -0.8037
23417                    NaN                         Guatemala  15.7835
23418                    NaN                          Guernsey  49.4500
23419                    NaN                        Mauritania  21.0079
23420                    NaN                            Rwanda  -1.9403
23421                    NaN                       Saint Lucia  13.9094
23422                    NaN  Saint Vincent and the Grenadines  12.9843
23423                    NaN                          Suriname   3.9193
23424   Virgin Islands, U.S.                                US  18.3358
23425                    NaN    occupied Palestinian territory  31.9522

           Long     Date  Confirmed  Recovered  Deaths
0      101.0000  1/22/20          2          0       0
1      138.0000  1/22/20          2          0       0
2      103.8333  1/22/20          0          0       0
3       84.2500  1/22/20          0          0       0
4      112.5000  1/22/20          0          0       0
5     -123.1207  1/22/20          0          0       0
6      151.2093  1/22/20          0          0       0
7      144.9631  1/22/20          0          0       0
8      153.4000  1/22/20          0          0       0
9      104.9167  1/22/20          0          0       0
10      81.0000  1/22/20          0          0       0
11       9.0000  1/22/20          0          0       0
12      26.0000  1/22/20          0          0       0
13      54.0000  1/22/20          0          0       0
14     122.0000  1/22/20          0          0       0
15      78.0000  1/22/20          0          0       0
16      12.0000  1/22/20          0          0       0
17      16.0000  1/22/20          0          0       0
18      -4.0000  1/22/20          0          0       0
19     138.6007  1/22/20          0          0       0
20       4.0000  1/22/20          0          0       0
21      30.0000  1/22/20          0          0       0
22     139.6380  1/22/20          0          0       0
23      35.8623  1/22/20          0          0       0
24      44.0000  1/22/20          0          0       0
25      57.0000  1/22/20          0          0       0
26      65.0000  1/22/20          0          0       0
27      50.5500  1/22/20          0          0       0
28      47.7500  1/22/20          0          0       0
29       1.6596  1/22/20          0          0       0
...         ...      ...        ...        ...     ...
23396 -106.4509  3/14/20          2          0       0
23397   40.4897  3/14/20          1          0       0
23398   30.2176  3/14/20          1          0       1
23399   -9.6966  3/14/20          1          0       0
23400  -69.9683  3/14/20          2          0       0
23401 -122.6655  3/14/20          2          0       0
23402   37.9062  3/14/20          1          0       0
23403  -61.7964  3/14/20          1          0       0
23404  -86.9023  3/14/20          6          0       0
23405  -53.0000  3/14/20          5          0       0
23406  -55.7658  3/14/20          4          0       0
23407   -1.0232  3/14/20          3          0       0
23408  -66.5901  3/14/20          3          0       0
23409   -2.1100  3/14/20          2          0       0
23410   18.4904  3/14/20          2          0       0
23411   55.4920  3/14/20          2          0       0
23412  -61.2225  3/14/20          2          0       0
23413  -66.5897  3/14/20          2          0       0
23414  -68.9900  3/14/20          1          0       0
23415   31.4659  3/14/20          1          0       0
23416   11.6094  3/14/20          1          0       0
23417  -90.2308  3/14/20          1          0       0
23418   -2.5800  3/14/20          1          0       0
23419   10.9408  3/14/20          1          0       0
23420   29.8739  3/14/20          1          0       0
23421  -60.9789  3/14/20          1          0       0
23422  -61.2872  3/14/20          1          0       0
23423  -56.0278  3/14/20          1          0       0
23424  -64.8963  3/14/20          1          0       0
23425   35.2332  3/14/20          0          0       0

[23426 rows x 8 columns]>