# Analyzing COVID-19 data



Code snippets to import/merge the data based on https://medium.com/@jcharistech/data-cleaning-a-practical-example-with-coronavirus-dataset-using-pandas-and-schedule-for-14abf485c881

Import data from https://raw.githubusercontent.com/CSSEGISandData

Read their terms of use! Last time I checked it, it is strictly for public use in academic or research purposes.

## Import data

In [37]:
import pandas as pd

confirmed_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"
recovered_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv"
death_url ="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv"

raw_confirmed = pd.read_csv(confirmed_url)
raw_recovered = pd.read_csv(recovered_url)
raw_deaths = pd.read_csv(death_url)

Let's have a look which province/states and countries/regions are included. Only a part of the list is shown.

In [98]:
countries = [ 'India', 'Germany']

In [101]:
raw_confirmed[~pd.notnull(raw_confirmed['Province/State'])]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,47,48,50,50,50,53,59,70,75,82
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,360,420,461,502,511,581,639,639,701,773
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,117,130,138,150,150,160,178,178,200,212
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,50,83,93,99,117,129,149,149,197,238
9,NaN,Cambodia,11.5500,104.9167,0,0,0,0,0,1,...,1,1,1,2,2,2,3,3,5,7
10,NaN,Sri Lanka,7.0000,81.0000,0,0,0,0,0,1,...,1,1,1,1,1,1,2,2,6,10
11,NaN,Germany,51.0000,9.0000,0,0,0,0,0,1,...,482,670,799,1040,1176,1457,1908,2078,3675,4585
12,NaN,Finland,64.0000,26.0000,0,0,0,0,0,0,...,12,15,15,23,30,40,59,59,155,225
13,NaN,United Arab Emirates,24.0000,54.0000,0,0,0,0,0,0,...,29,29,45,45,45,74,74,85,85,85
14,NaN,Philippines,13.0000,122.0000,0,0,0,0,0,0,...,3,5,6,10,20,33,49,52,64,111
15,NaN,India,21.0000,78.0000,0,0,0,0,0,0,...,30,31,34,39,43,56,62,73,82,102
16,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,3858,4636,5883,7375,9172,10149,12462,12462,17660,21157
17,NaN,Sweden,63.0000,16.0000,0,0,0,0,0,0,...,94,101,161,203,248,355,500,599,814,961
18,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,259,400,500,673,1073,1695,2277,2277,5232,6391
20,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,50,109,169,200,239,267,314,314,559,689
21,NaN,Egypt,26.0000,30.0000,0,0,0,0,0,0,...,3,15,15,49,55,59,60,67,80,109
23,NaN,Lebanon,33.8547,35.8623,0,0,0,0,0,0,...,16,22,22,32,32,41,61,61,77,93
24,NaN,Iraq,33.0000,44.0000,0,0,0,0,0,0,...,35,40,54,60,60,71,71,71,101,110
25,NaN,Oman,21.0000,57.0000,0,0,0,0,0,0,...,16,16,16,16,16,18,18,18,19,19
26,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,1,1,1,4,4,5,7,7,7,11
27,NaN,Bahrain,26.0275,50.5500,0,0,0,0,0,0,...,55,60,85,85,95,110,195,195,189,210
28,NaN,Kuwait,29.5000,47.7500,0,0,0,0,0,0,...,58,58,61,64,64,69,72,80,80,104
29,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,12,17,17,19,20,20,20,24,26,37
30,NaN,Croatia,45.1000,15.2000,0,0,0,0,0,0,...,10,11,12,12,12,14,19,19,32,38
31,NaN,Switzerland,46.8182,8.2275,0,0,0,0,0,0,...,114,214,268,337,374,491,652,652,1139,1359
32,NaN,Austria,47.5162,14.5501,0,0,0,0,0,0,...,41,55,79,104,131,182,246,302,504,655
33,NaN,Israel,31.0000,35.0000,0,0,0,0,0,0,...,20,37,43,61,61,83,109,131,161,193
34,NaN,Pakistan,30.3753,69.3451,0,0,0,0,0,0,...,5,6,6,6,6,16,19,20,28,31
35,NaN,Brazil,-14.2350,-51.9253,0,0,0,0,0,0,...,4,13,13,20,25,31,38,52,151,151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,5,5
403,NaN,Cuba,22.0000,-80.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,4,4
404,NaN,Guyana,5.0000,-58.7500,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,1
407,NaN,Kazakhstan,48.0196,66.9237,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,6
409,NaN,Cayman Islands,19.3133,-81.2546,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
410,NaN,Guadeloupe,16.2650,-61.5510,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
413,NaN,Ethiopia,9.1450,40.4897,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
414,NaN,Sudan,12.8628,30.2176,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
415,NaN,Guinea,9.9456,-9.6966,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
416,NaN,Aruba,12.5211,-69.9683,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,2
418,NaN,Kenya,-0.0236,37.9062,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
419,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
422,NaN,Uruguay,-32.5228,-55.7658,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
423,NaN,Ghana,7.9465,-1.0232,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
425,NaN,Jersey,49.1900,-2.1100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
426,NaN,Namibia,-22.9576,18.4904,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
427,NaN,Seychelles,-4.6796,55.4920,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
428,NaN,Trinidad and Tobago,10.6918,-61.2225,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
429,NaN,Venezuela,6.4238,-66.5897,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
430,NaN,Curacao,12.1696,-68.9900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
431,NaN,Eswatini,-26.5225,31.4659,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
432,NaN,Gabon,-0.8037,11.6094,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
433,NaN,Guatemala,15.7835,-90.2308,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
434,NaN,Guernsey,49.4500,-2.5800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
435,NaN,Mauritania,21.0079,10.9408,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
436,NaN,Rwanda,-1.9403,29.8739,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
437,NaN,Saint Lucia,13.9094,-60.9789,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
438,NaN,Saint Vincent and the Grenadines,12.9843,-61.2872,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
439,NaN,Suriname,3.9193,-56.0278,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
441,NaN,occupied Palestinian territory,31.9522,35.2332,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Convert Data

In [95]:
def extract_values(df):
    filtered = df[~pd.notnull(df['Province/State']) & df['Country/Region'].eq(country)]
    transposed = filtered.drop(['Province/State', 'Country/Region', 'Lat', 'Long'], axis=1).transpose()
    values = transposed[transposed.columns[0]]
    return values

all = {}
for country in countries:
    dates = raw_confirmed.drop(['Province/State', 'Country/Region', 'Lat', 'Long'], axis=1).transpose().index.tolist()
    val_confirmed = extract_values(raw_confirmed)
    val_recovered = extract_values(raw_recovered)
    val_deaths = extract_values(raw_deaths)
    data = {'Confirmed':val_confirmed, 'Recovered':val_recovered, 'Deaths':val_deaths}
    all[country] = pd.DataFrame(data, index=dates)

Intermediate data for first country in list:

In [96]:
all[countries[0]]

         Confirmed  Recovered  Deaths
1/22/20          0          0       0
1/23/20          0          0       0
1/24/20          0          0       0
1/25/20          0          0       0
1/26/20          0          0       0
1/27/20          0          0       0
1/28/20          0          0       0
1/29/20          0          0       0
1/30/20          1          0       0
1/31/20          1          0       0
2/1/20           1          0       0
2/2/20           2          0       0
2/3/20           3          0       0
2/4/20           3          0       0
2/5/20           3          0       0
2/6/20           3          0       0
2/7/20           3          0       0
2/8/20           3          0       0
2/9/20           3          0       0
2/10/20          3          0       0
2/11/20          3          0       0
2/12/20          3          0       0
2/13/20          3          0       0
2/14/20          3          0       0
2/15/20          3          0       0
2/16/20          3          3       0
2/17/20          3          3       0
2/18/20          3          3       0
2/19/20          3          3       0
2/20/20          3          3       0
2/21/20          3          3       0
2/22/20          3          3       0
2/23/20          3          3       0
2/24/20          3          3       0
2/25/20          3          3       0
2/26/20          3          3       0
2/27/20          3          3       0
2/28/20          3          3       0
2/29/20          3          3       0
3/1/20           3          3       0
3/2/20           5          3       0
3/3/20           5          3       0
3/4/20          28          3       0
3/5/20          30          3       0
3/6/20          31          3       0
3/7/20          34          3       0
3/8/20          39          3       0
3/9/20          43          3       0
3/10/20         56          4       0
3/11/20         62          4       1
3/12/20         73          4       1
3/13/20         82          4       2
3/14/20        102          4       2

## Enrich data

Enrich according to your needs.

In [38]:
raw_confirmed.transpose()[:10]

,0,1,2,3,4,5,6,7,8,9,...,432,433,434,435,436,437,438,439,440,441
Province/State,NaN,NaN,NaN,NaN,NaN,British Columbia,New South Wales,Victoria,Queensland,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Virgin Islands, U.S.",NaN
Country/Region,Thailand,Japan,Singapore,Nepal,Malaysia,Canada,Australia,Australia,Australia,Cambodia,...,Gabon,Guatemala,Guernsey,Mauritania,Rwanda,Saint Lucia,Saint Vincent and the Grenadines,Suriname,US,occupied Palestinian territory
Lat,15,36,1.2833,28.1667,2.5,49.2827,-33.8688,-37.8136,-28.0167,11.55,...,-0.8037,15.7835,49.45,21.0079,-1.9403,13.9094,12.9843,3.9193,18.3358,31.9522
Long,101,138,103.833,84.25,112.5,-123.121,151.209,144.963,153.4,104.917,...,11.6094,-90.2308,-2.58,10.9408,29.8739,-60.9789,-61.2872,-56.0278,-64.8963,35.2332
1/22/20,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/23/20,3,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/24/20,5,2,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/25/20,7,2,3,1,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1/26/20,8,4,4,1,4,0,3,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1/27/20,8,4,5,1,4,0,4,1,0,1,...,0,0,0,0,0,0,0,0,0,0

## Enrichment

For each:
- Row = Date
- Keys = Date, Confirmed, Deaths, Recovered, DiffC, DiffD, DiffR, RateC, RateD, RateR

## Convert data

Convert input data to a data structure which is better suited for our analysis (Note that lat/long values are dropped here).

In [34]:
def get_n_melt_data(raw_data,case_type):
    # Drop values 'Lat' and 'Long'
    reduced = raw_data.drop(['Lat', 'Long'], axis=1)
    melted_df = reduced.melt(id_vars=['Province/State', 'Country/Region'])
    melted_df.rename(columns={"variable":"Date","value":case_type},inplace=True)
    return melted_df

melted_confirmed = get_n_melt_data(raw_confirmed,"Confirmed")
melted_recovered = get_n_melt_data(raw_recovered,"Recovered")
melted_deaths = get_n_melt_data(raw_deaths,"Deaths")

final_df = melted_confirmed.join(melted_recovered['Recovered']).join(melted_deaths['Deaths'])
final_df[0:10]

     Province/State Country/Region     Date  Confirmed  Recovered  Deaths
0               NaN       Thailand  1/22/20          2          0       0
1               NaN          Japan  1/22/20          2          0       0
2               NaN      Singapore  1/22/20          0          0       0
3               NaN          Nepal  1/22/20          0          0       0
4               NaN       Malaysia  1/22/20          0          0       0
5  British Columbia         Canada  1/22/20          0          0       0
6   New South Wales      Australia  1/22/20          0          0       0
7          Victoria      Australia  1/22/20          0          0       0
8        Queensland      Australia  1/22/20          0          0       0
9               NaN       Cambodia  1/22/20          0          0       0

Now we can access the numbers Confirmed/Recovered/Deaths via the key values of Province/State + Country/Region + Date.

In [35]:
final_df.keys

<bound method NDFrame.keys of               Province/State                    Country/Region     Date  \
0                        NaN                          Thailand  1/22/20
1                        NaN                             Japan  1/22/20
2                        NaN                         Singapore  1/22/20
3                        NaN                             Nepal  1/22/20
4                        NaN                          Malaysia  1/22/20
5           British Columbia                            Canada  1/22/20
6            New South Wales                         Australia  1/22/20
7                   Victoria                         Australia  1/22/20
8                 Queensland                         Australia  1/22/20
9                        NaN                          Cambodia  1/22/20
10                       NaN                         Sri Lanka  1/22/20
11                       NaN                           Germany  1/22/20
12                       NaN                           Finland  1/22/20
13                       NaN              United Arab Emirates  1/22/20
14                       NaN                       Philippines  1/22/20
15                       NaN                             India  1/22/20
16                       NaN                             Italy  1/22/20
17                       NaN                            Sweden  1/22/20
18                       NaN                             Spain  1/22/20
19           South Australia                         Australia  1/22/20
20                       NaN                           Belgium  1/22/20
21                       NaN                             Egypt  1/22/20
22     From Diamond Princess                         Australia  1/22/20
23                       NaN                           Lebanon  1/22/20
24                       NaN                              Iraq  1/22/20
25                       NaN                              Oman  1/22/20
26                       NaN                       Afghanistan  1/22/20
27                       NaN                           Bahrain  1/22/20
28                       NaN                            Kuwait  1/22/20
29                       NaN                           Algeria  1/22/20
...                      ...                               ...      ...
23396           Saskatchewan                            Canada  3/14/20
23397                    NaN                          Ethiopia  3/14/20
23398                    NaN                             Sudan  3/14/20
23399                    NaN                            Guinea  3/14/20
23400                    NaN                             Aruba  3/14/20
23401         Grand Princess                            Canada  3/14/20
23402                    NaN                             Kenya  3/14/20
23403                    NaN               Antigua and Barbuda  3/14/20
23404                Alabama                                US  3/14/20
23405           Fench Guiana                            France  3/14/20
23406                    NaN                           Uruguay  3/14/20
23407                    NaN                             Ghana  3/14/20
23408            Puerto Rico                                US  3/14/20
23409                    NaN                            Jersey  3/14/20
23410                    NaN                           Namibia  3/14/20
23411                    NaN                        Seychelles  3/14/20
23412                    NaN               Trinidad and Tobago  3/14/20
23413                    NaN                         Venezuela  3/14/20
23414                    NaN                           Curacao  3/14/20
23415                    NaN                          Eswatini  3/14/20
23416                    NaN                             Gabon  3/14/20
23417                    NaN                         Guatemala  3/14/20
23418                    NaN                          Guernsey  3/14/20
23419                    NaN                        Mauritania  3/14/20
23420                    NaN                            Rwanda  3/14/20
23421                    NaN                       Saint Lucia  3/14/20
23422                    NaN  Saint Vincent and the Grenadines  3/14/20
23423                    NaN                          Suriname  3/14/20
23424   Virgin Islands, U.S.                                US  3/14/20
23425                    NaN    occupied Palestinian territory  3/14/20

       Confirmed  Recovered  Deaths
0              2          0       0
1              2          0       0
2              0          0       0
3              0          0       0
4              0          0       0
5              0          0       0
6              0          0       0
7              0          0       0
8              0          0       0
9              0          0       0
10             0          0       0
11             0          0       0
12             0          0       0
13             0          0       0
14             0          0       0
15             0          0       0
16             0          0       0
17             0          0       0
18             0          0       0
19             0          0       0
20             0          0       0
21             0          0       0
22             0          0       0
23             0          0       0
24             0          0       0
25             0          0       0
26             0          0       0
27             0          0       0
28             0          0       0
29             0          0       0
...          ...        ...     ...
23396          2          0       0
23397          1          0       0
23398          1          0       1
23399          1          0       0
23400          2          0       0
23401          2          0       0
23402          1          0       0
23403          1          0       0
23404          6          0       0
23405          5          0       0
23406          4          0       0
23407          3          0       0
23408          3          0       0
23409          2          0       0
23410          2          0       0
23411          2          0       0
23412          2          0       0
23413          2          0       0
23414          1          0       0
23415          1          0       0
23416          1          0       0
23417          1          0       0
23418          1          0       0
23419          1          0       0
23420          1          0       0
23421          1          0       0
23422          1          0       0
23423          1          0       0
23424          1          0       0
23425          0          0       0

[23426 rows x 6 columns]>