# Analyzing COVID-19 data



Code snippets to import/merge the data based on https://medium.com/@jcharistech/data-cleaning-a-practical-example-with-coronavirus-dataset-using-pandas-and-schedule-for-14abf485c881

Import data from https://raw.githubusercontent.com/CSSEGISandData

Read their terms of use! Last time I checked it, it is strictly for public use in academic or research purposes.

## Import data

In [31]:
import pandas as pd

confirmed_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv"
recovered_cases_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv"
death_cases_url ="https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv"

raw_confirmed = pd.read_csv(confirmed_cases_url)
raw_recovered = pd.read_csv(recovered_cases_url)
raw_deaths = pd.read_csv(death_cases_url)

Let's have a look at a few entries of the raw data.

In [32]:
raw_confirmed[:8]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20,3/14/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,47,48,50,50,50,53,59,70,75,82
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,360,420,461,502,511,581,639,639,701,773
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,117,130,138,150,150,160,178,178,200,212
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,50,83,93,99,117,129,149,149,197,238
5,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,13,21,21,27,32,32,39,46,64,64
6,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,22,26,28,38,48,55,65,65,92,112
7,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,10,10,11,11,15,18,21,21,36,49

In [33]:
raw_confirmed.keys()

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20'],
      dtype='object')

## Adaptation

Adapt according to your needs.

## Convert data

Convert input data to a data structure which is better suited for our analysis (Note that lat/long values are dropped here).

In [34]:
def get_n_melt_data(raw_data,case_type):
    # Drop values 'Lat' and 'Long'
    reduced = raw_data.drop(['Lat', 'Long'], axis=1)
    melted_df = reduced.melt(id_vars=['Province/State', 'Country/Region'])
    melted_df.rename(columns={"variable":"Date","value":case_type},inplace=True)
    return melted_df

melted_confirmed = get_n_melt_data(raw_confirmed,"Confirmed")
melted_recovered = get_n_melt_data(raw_recovered,"Recovered")
melted_deaths = get_n_melt_data(raw_deaths,"Deaths")

final_df = melted_confirmed.join(melted_recovered['Recovered']).join(melted_deaths['Deaths'])
final_df[0:10]

     Province/State Country/Region     Date  Confirmed  Recovered  Deaths
0               NaN       Thailand  1/22/20          2          0       0
1               NaN          Japan  1/22/20          2          0       0
2               NaN      Singapore  1/22/20          0          0       0
3               NaN          Nepal  1/22/20          0          0       0
4               NaN       Malaysia  1/22/20          0          0       0
5  British Columbia         Canada  1/22/20          0          0       0
6   New South Wales      Australia  1/22/20          0          0       0
7          Victoria      Australia  1/22/20          0          0       0
8        Queensland      Australia  1/22/20          0          0       0
9               NaN       Cambodia  1/22/20          0          0       0

Now we can access the numbers Confirmed/Recovered/Deaths via the key values of Province/State + Country/Region + Date.

In [21]:
final_df.keys

<bound method NDFrame.keys of               Province/State                    Country/Region     Date  \
0                        NaN                          Thailand  1/22/20
1                        NaN                             Japan  1/22/20
2                        NaN                         Singapore  1/22/20
3                        NaN                             Nepal  1/22/20
4                        NaN                          Malaysia  1/22/20
5           British Columbia                            Canada  1/22/20
6            New South Wales                         Australia  1/22/20
7                   Victoria                         Australia  1/22/20
8                 Queensland                         Australia  1/22/20
9                        NaN                          Cambodia  1/22/20
10                       NaN                         Sri Lanka  1/22/20
11                       NaN                           Germany  1/22/20
12                       NaN                           Finland  1/22/20
13                       NaN              United Arab Emirates  1/22/20
14                       NaN                       Philippines  1/22/20
15                       NaN                             India  1/22/20
16                       NaN                             Italy  1/22/20
17                       NaN                            Sweden  1/22/20
18                       NaN                             Spain  1/22/20
19           South Australia                         Australia  1/22/20
20                       NaN                           Belgium  1/22/20
21                       NaN                             Egypt  1/22/20
22     From Diamond Princess                         Australia  1/22/20
23                       NaN                           Lebanon  1/22/20
24                       NaN                              Iraq  1/22/20
25                       NaN                              Oman  1/22/20
26                       NaN                       Afghanistan  1/22/20
27                       NaN                           Bahrain  1/22/20
28                       NaN                            Kuwait  1/22/20
29                       NaN                           Algeria  1/22/20
...                      ...                               ...      ...
23396           Saskatchewan                            Canada  3/14/20
23397                    NaN                          Ethiopia  3/14/20
23398                    NaN                             Sudan  3/14/20
23399                    NaN                            Guinea  3/14/20
23400                    NaN                             Aruba  3/14/20
23401         Grand Princess                            Canada  3/14/20
23402                    NaN                             Kenya  3/14/20
23403                    NaN               Antigua and Barbuda  3/14/20
23404                Alabama                                US  3/14/20
23405           Fench Guiana                            France  3/14/20
23406                    NaN                           Uruguay  3/14/20
23407                    NaN                             Ghana  3/14/20
23408            Puerto Rico                                US  3/14/20
23409                    NaN                            Jersey  3/14/20
23410                    NaN                           Namibia  3/14/20
23411                    NaN                        Seychelles  3/14/20
23412                    NaN               Trinidad and Tobago  3/14/20
23413                    NaN                         Venezuela  3/14/20
23414                    NaN                           Curacao  3/14/20
23415                    NaN                          Eswatini  3/14/20
23416                    NaN                             Gabon  3/14/20
23417                    NaN                         Guatemala  3/14/20
23418                    NaN                          Guernsey  3/14/20
23419                    NaN                        Mauritania  3/14/20
23420                    NaN                            Rwanda  3/14/20
23421                    NaN                       Saint Lucia  3/14/20
23422                    NaN  Saint Vincent and the Grenadines  3/14/20
23423                    NaN                          Suriname  3/14/20
23424   Virgin Islands, U.S.                                US  3/14/20
23425                    NaN    occupied Palestinian territory  3/14/20

       Confirmed  Recovered  Deaths
0              2          0       0
1              2          0       0
2              0          0       0
3              0          0       0
4              0          0       0
5              0          0       0
6              0          0       0
7              0          0       0
8              0          0       0
9              0          0       0
10             0          0       0
11             0          0       0
12             0          0       0
13             0          0       0
14             0          0       0
15             0          0       0
16             0          0       0
17             0          0       0
18             0          0       0
19             0          0       0
20             0          0       0
21             0          0       0
22             0          0       0
23             0          0       0
24             0          0       0
25             0          0       0
26             0          0       0
27             0          0       0
28             0          0       0
29             0          0       0
...          ...        ...     ...
23396          2          0       0
23397          1          0       0
23398          1          0       1
23399          1          0       0
23400          2          0       0
23401          2          0       0
23402          1          0       0
23403          1          0       0
23404          6          0       0
23405          5          0       0
23406          4          0       0
23407          3          0       0
23408          3          0       0
23409          2          0       0
23410          2          0       0
23411          2          0       0
23412          2          0       0
23413          2          0       0
23414          1          0       0
23415          1          0       0
23416          1          0       0
23417          1          0       0
23418          1          0       0
23419          1          0       0
23420          1          0       0
23421          1          0       0
23422          1          0       0
23423          1          0       0
23424          1          0       0
23425          0          0       0

[23426 rows x 6 columns]>